@charset "utf-8";
/* CSS Document */

#container{margin-top:-1px;}
#contents .sub_content{width:100%; margin:0; padding:0;}/* 메인 */
.main_visual{overflow:hidden; width:100%;  margin:0 0 70px 0;}

/*메인 GNB*/
#header_warp{position:absolute; top:0; left:0; width:100%; z-index:102;}
.body-main #header .btn_all_menu_open{top:40px;}
.body-main #header .header_gnb{position:relative; top:611px; height:90px; z-index:150;}
.body-main .top_member_box{float:left; margin:40px 0 0 0;}
.body-main #header .gnb{padding-top:20px;}
.body-main #header .gnb .depth1{top:90px;}
.body-main #header .gnb .depth0 > li > a{height:71px;}
.body-main .header_gnb.headerFix .gnb_bg{top:90px;}
.body-main .gnb_bg{top:90px;}

 /* 상단 기능메뉴 */

.body-main #header .h1_logo{text-align:inherit; padding:45px 0 0 0;}
.body-main #header .top_search{top:45px; left:130px;}

/* 검색 */
#header .header_search{border:0;}

/* 메인배너 */
.main_visual{margin:0 0 90px 0;}
.slider-wrap ul.slick-dots{left:50%; bottom:266px; width:1200px; margin-left:-600px; text-align:left;}
.slider-wrap ul.slick-dots li{margin:0!important;}
.main_slide_ban{position:relative; width:100%; height:400px; border-top:1px solid #d9d9d9; overflow:hidden;}

 /* 상단 배너 */
.main_banner{overflow:hidden; position:absolute; left:50%; top:0; width:1920px; margin-left:-960px;}
.main_banner span{float:left; display:inline-block;}

/* 상단 상품 */
.main_goods_cont.gallery{width:1260px;}
.main_goods_cont .item_gallery_type .item_cont{padding:0 30px; text-align:center;}
.goods_list_tit{border:0; padding:135px 0 40px 0;}
.goods_list_tit h3{font-size:34px; color:#333333; font-weight:normal; text-align:center;}
.goods_list_tit .btn_goods_more{display:none;}
.item_gallery_type .item_photo_box{border:0;}
.item_gallery_type .item_info_cont{display:block; text-align:center; padding:10px 0 0 0;}
.item_gallery_type .item_info_cont .item_name{font-size:14px; color:#333333;}
.item_gallery_type .item_info_cont .del{font-size:12px; color:#999999;}
.item_gallery_type .item_info_cont .item_money_box .item_price{font-size:18px; color:#593838; font-weight:normal; padding:10px 0 5px 0;}
.main_cont_slide{text-align:center;}
.scroll_wrap{top:1501px;}
.main_goods_cont .btn_goods_down_more{display: none;}
/* 하단 슬라이드 배너 */
.main_cont_slide_ban{padding:103px 0 0 0;}

/* 하단 상품 */
.main_goods_cont.simple{width:1240px;}
.item_simple_type .item_info_cont .item_name{font-size:14px;}
.item_simple_type .item_info_cont .del{font-size:12px;}
.item_simple_type .item_info_cont .item_money_box .item_price{font-size:18px; font-weight:normal; padding:10px 0 5px 0;}

/* 하단 info */
.main_banner_bottom{overflow:hidden; width:1200px; margin:58px auto;}
.main_banner_bottom > div{position:relative; float:left; display:inline-block;width: 600px;height: 300px;}
.main_banner_bottom .bank{background:url('img/bank.png') no-repeat 0 0;}
.main_banner_bottom .cs{background:url('img/cs.png') no-repeat 0 0;}
.main_banner_bottom > div > div{position:absolute; left:0; top:0; width:100%; text-align:center; padding-top:133px;}
.main_banner_bottom > div .bank_info{color:#593838;}
.main_banner_bottom > div .cs_center{color:#ffffff;}
.main_banner_bottom > div strong{font-size:40px;}
.main_banner_bottom > div p{font-size:12px; font-weight:bold; padding-top:12px; line-height:1.9em;}
.main_banner_bottom > div p em{font-weight:bold;}
